@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display&display=swap');
body{
    margin: 0px;
    font-family: "Fauna One";
    font-size: 14px;
}
h1{
    font-family: "Playfair Display";
    text-align: center;
}
h2{
    margin: 2em;
    font-family: "Playfair Display";
    text-align: center;
}

img{
    width: 60%;
}
figure{
    text-align: center;
}
p{
    margin-left: 10em;
    margin-right: 10em;
}
.legenda{
    font-style: italic;
}
address{
    margin-top: 4em;
    text-align: center;
    padding: 20px;
    background-color: #F3E1B9;
    color: rgb(126, 75, 9);
}
.menu {
    text-align: center;
    background-color: #F3E1B9;

}
.menu ul{
    text-align: center;
    list-style: none;
    display: inline-table;

}
.menu li{
    padding: 10px;
    display: inline;
}
.menu li a{
    text-decoration: none;
    transition: 0.5s;
    transition-property: font-size color;
    color: rgb(126, 75, 9);
}
.menu li a:hover {
    font-size: 10px;
}
.sombra{
    box-shadow: 5px 5px 6px rgb(150, 147, 147);
}
.box{
    width: 100%;
    height: 75px;
    background-position: cover;
}
.tabela{
    text-align: center;
    font-size: 13px;
}
.tabela td{
    background-color: #F3E1B9;
    padding: 10px;
}
.tabela tbody th{
    background-color: #F3E1B9;;
    padding: 10px;
}
.tabela thead th, tfoot th{
    color: white;
    background-color: rgb(151, 119, 77);
    padding: 10px;
}
.tabela a{
    text-decoration: none;
    transition: 0.5s;
    transition-property: font-size color;
    color: black;
}
.tabela a:hover {
    color: rgb(128, 93, 49);
}

.fotos{
    text-align: center;
    margin: 2em;
}
.fotos img{
    margin: 1em;
    width: 200px;
    height: 300px;
}
section div {
    display: inline-flex;
}